<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
<title>可视化大屏注册</title>
<link rel="stylesheet" type="text/css" href="../static/login/css/reset.css" />
<link rel="stylesheet" type="text/css" href="../static/login/css/scanboardLogin.css" />
<link rel="stylesheet" type="text/css" href="../static/login/css/animsition.css" />
</head>
<body>
	<div class="wp animsition">
		<div class="boardLogin">
			<a href="#" class="logo">
				<img src="../static/login/images/loginlogo.png">
			</a>
			<form name="Form" method="POST" action=" {% url 'do_register' %}">
				<div class="inpGroup">
					<span class="loginIco1"></span>
					<input id="name" type="text" name="username" placeholder="请输入您的用户名" >
				</div>
				<br>
				<div class="inpGroup">
					<span class="loginIco2"></span>
					<input id="password" type="password" name="password"  placeholder="请输入您的密码">
				</div>
				<div class="prompt">
					<div style="color: #f83600">{{ error }}</div>
				</div>
                <button class="submit" >注册并登录</button>

			</form>
		</div>
	</div>
	<div id="particles-js"></div>
</body>
<script type="text/javascript" src="../static/login/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/login/js/jquery.animsition.js"></script>
<script src="../static/login/js/particles.min.js"></script>
<script src="../static/login/js/app.js"></script>
<script type="text/javascript">
	$(".animsition").animsition({
	    inClass               :   'fade-in',
	    outClass              :   'fade-out',
	    inDuration            :    800,
	    outDuration           :    1000,
	    linkElement           :   '.animsition-link',

	    loading               :    false,
	    loadingParentElement  :   'body',
	    loadingClass          :   'animsition-loading',
	    unSupportCss          : [ 'animation-duration',
	                              '-webkit-animation-duration',
	                              '-o-animation-duration'
	                            ],
	

	    overlay               :   false,
	    
	    overlayClass          :   'animsition-overlay-slide',
	    overlayParentElement  :   'body'
  	});
</script>
<script>
	$("#sendyanzm").click(function(){
		var email = $("#email").val()

		var reg = new RegExp("^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$");
		if(email == ""){
			console.log("邮箱不能为空!~");
			$(".error").text("邮箱不能为空!~")
		}else if(!reg.test(email)){
			$(".error").text("请填写正确的邮箱格式!~")
			console.log("请填写正确的邮箱格式!~");
		}else{
			$.ajax({
				type: "POST",

				url: "/sendyanzm",
				dataType: 'json',
				data : {
					"email": email
				},
				success: function (e) {
					console.log(e.error);
					$(".error").text(e.error)
				}
			})
		}


	});

	// $(".submit").click(function(){
	// 	var email = $("#email").val()
	// 	var yanzm = $("#yanzm").val()
	// 	var name = $("#name").val()
	// 	var password = $("#email").val()
	// 	var reg = new RegExp("^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$");
	// 	if(email == ""){
	// 		console.log("邮箱不能为空!~");
	// 		$(".error").text("邮箱不能为空!~")
	// 	}else if(!reg.test(email)){
	// 		$(".error").text("请填写正确的邮箱格式!~")
	// 		console.log("请填写正确的邮箱格式!~");
	// 	}else{
	// 		$.ajax({
	// 			type: "POST",
	//
	// 			url: "/regist",
	// 			dataType: 'json',
	// 			data : {
	// 				"email": email,
	// 				"yanzm": yanzm,
	// 				"name": name,
	// 				"password": password
	// 			},
	// 			success: function (e) {
	// 				console.log(e.error);
	// 				$(".error").text(e.error)
	// 			}
	// 		})
	// 	}
	//
	//
	// });
</script>
</html>
